# ==================================================
# EZYCOMMUNITY AUTOMATION FRAMEWORK
# ==================================================

# ==================================================
# Active Environment
# Available:
#   - staging
#   - testing
#   - production
# ==================================================

SYSTEM_ENV=testing

# ==================================================
# Environment URLs
# ==================================================

STAGING_BASE_URL=https://staging.example.com/login
TESTING_BASE_URL=https://scg-community.communitycdn.net/login
PRODUCTION_BASE_URL=https://production.example.com/login

# ==================================================
# Browser Configuration
# ==================================================

BROWSER=chromium
HEADLESS=true
MAX_WORKERS=2

# ==================================================
# Timeouts (Milliseconds)
# ==================================================

TEST_TIMEOUT=120000
EXPECT_TIMEOUT=10000

# ==================================================
# Reporting
# ==================================================

ENABLE_ALLURE=false

# ==================================================
# STAGING ADMIN
# ==================================================

STAGING_ADMIN_USERNAME=
STAGING_ADMIN_PASSWORD=
STAGING_ADMIN_NAME=
STAGING_ADMIN_EMAIL=

# ==================================================
# STAGING RESIDENT
# ==================================================

STAGING_RESIDENT_USERNAME=
STAGING_RESIDENT_PASSWORD=
STAGING_RESIDENT_NAME=
STAGING_RESIDENT_EMAIL=

# ==================================================
# TESTING ADMIN
# ==================================================

TESTING_ADMIN_USERNAME=sujoy.appifylab@gmail.com
TESTING_ADMIN_PASSWORD=@Podder007
TESTING_ADMIN_NAME=JS Sun
TESTING_ADMIN_EMAIL=sujoy.appifylab@gmail.com

# ==================================================
# TESTING RESIDENT
# ==================================================

TESTING_RESIDENT_USERNAME=nenal84689@luxudata.com
TESTING_RESIDENT_PASSWORD=P@ssword1
TESTING_RESIDENT_NAME=Tasnif Jaman
TESTING_RESIDENT_EMAIL=nenal84689@luxudata.com

# ==================================================
# PRODUCTION ADMIN
# ==================================================

PRODUCTION_ADMIN_USERNAME=
PRODUCTION_ADMIN_PASSWORD=
PRODUCTION_ADMIN_NAME=
PRODUCTION_ADMIN_EMAIL=

# ==================================================
# PRODUCTION RESIDENT
# ==================================================

PRODUCTION_RESIDENT_USERNAME=
PRODUCTION_RESIDENT_PASSWORD=
PRODUCTION_RESIDENT_NAME=
PRODUCTION_RESIDENT_EMAIL=

