# ----------------------------------------
# Dependencies
# ----------------------------------------
node_modules/

# ----------------------------------------
# Environment Files
# ----------------------------------------
.env
.vscode/
.idea/

# ----------------------------------------
# Playwright Reports
# ----------------------------------------
reports/
playwright-report/
reports/
test-results/
blob-report/
allure-report/
allure-results/

# ----------------------------------------
# Screenshots & Videos
# ----------------------------------------
screenshots/
*.png
*.webm
*.zip

# Exception: Keep documentation images
!docs/img/
!docs/img/**

# ----------------------------------------
# Build Output
# ----------------------------------------
dist/

# ----------------------------------------
# Logs
# ----------------------------------------
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ----------------------------------------
# IDE
# ----------------------------------------
.vscode/
.idea/

# ----------------------------------------
# OS Files
# ----------------------------------------
.DS_Store
Thumbs.db